{% extends '@DatingLibreApp/authenticated.html.twig' %}
{% block title %}Events - Admin{% endblock %}
{% block menu %}
    {% form_theme eventFilterForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(eventFilterForm) }}
    {{ form_row(eventFilterForm.year) }}
    {{ form_row(eventFilterForm.month) }}
    {{ form_row(eventFilterForm.day) }}
    {{ form_row(eventFilterForm.submit) }}
    {{ form_end(eventFilterForm) }}
{% endblock %}
{% block content %}
    {% if events is empty %}
        <div class="alert alert-info">{{ 'event.empty'|trans }}</div>
    {% endif %}
    {% if events is not empty %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">{{ 'event.name'|trans }}</th>
                <th scope="col">{{ 'event.data'|trans }}</th>
                <th scope="col">{{ 'event.createdAt'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>
                        {% if event.data is not empty %}
                            <table>
                                {% for key, value in event.data %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </td>
                    <td>{{ event.createdAt|format_datetime }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}