{% extends '@DatingLibreApp/user/user.html.twig' %}
{% block title %}{{ 'matches.title'|trans }}{% endblock %}
{% block menu %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% include '@DatingLibreApp/user/matches/menu.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block content %}
{% from '@DatingLibreApp/macros/profile.image.html.twig' import profile_image %}
    <div class="panel panel-default">
    <div class="panel-body">
        {% if matches is empty %}
            <p class="alert-warning alert">{{ 'matches.empty'|trans }}</p>
        {% endif %}
        {% if matches is not empty %}
            <table class="table table-striped">
                {% for match in matches %}
                    <tr class="d-flex">
                        <td class="col-1">
                            <a href="{{ path('message_send', {'userId': match.currentRecipientId}) }}">
                                {{ profile_image(match.currentRecipientProfileImageUrl) }}
                            </a>
                        </td>
                        <td class="col-11">
                            <h5 class="media-heading">
                                <a href="{{ path('message_send', {'userId': match.currentRecipientId}) }}">{{ match.currentRecipientUsername }}</a>
                            </h5>
                            <div>{{ match.content|u.truncate('100', '...') }}</div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    </div>
{% endblock %}