{% extends '@DatingLibreApp/authenticated.html.twig' %}
{% block title %}{{ 'message.title'|trans }}{% endblock %}
{% block menu %}
    {% from '@DatingLibreApp/macros/profile.image.html.twig' import profile_image %}
    {{ profile_image(profile.imageUrl) }}
    {% include '@DatingLibreApp/message/menu.html.twig' %}
{% endblock %}
{% block content %}
    <div class="panel panel-default">
    <div class="panel-body">
    {% if messages is not empty %}
    {% from '@DatingLibreApp/macros/profile.image.html.twig' import profile_image %}
        <table class="table table-striped">
            {% for message in messages %}
                <tr class="d-flex">
                    <td class="col-1">{{ profile_image(message.secureProfileImageUrl) }}</td>
                    <td class="col-11">
                        <h5 class="media-heading">{{ message.senderUsername }}</h5>
                        <div>{{ message.content }}</div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
        {{ form(messageForm) }}
    </div>
{% endblock %}