<div class="list-group">
    {% from '@DatingLibreApp/macros/is_active.html.twig' import is_active %}
    <a href="{{ path('user_profile_view', {'userId': profile.id}) }}" class="{{ is_active('user_profile_view') }} list-group-item list-group-item-action">{{ 'menu.view'|trans }}</a>
    <a href="{{ path('message_send', {'userId': profile.id}) }}" class="{{ is_active('message_send') }} list-group-item list-group-item-action">{{ 'menu.message'|trans }}</a>
    <a href="{{ path('block_user', {'userId': profile.id }) }}" class="{{ is_active('block_user') }} list-group-item list-group-item-action">{{ 'menu.block'|trans }}</a>
    <a href="{{ path('report_user', {'userId': profile.id }) }}" class="{{ is_active('report_user') }} list-group-item list-group-item-action">{{ 'menu.report'|trans }}</a>
</div>
