{% extends '@DatingLibreApp/user/user.html.twig' %}
{% block title %}{{ 'message.title'|trans }}{% endblock %}
{% block menu %}
    {% from '@DatingLibreApp/macros/profile.image.html.twig' import profile_image %}
    {{ profile_image(profile.imageUrl) }}
    {% from '@DatingLibreApp/user/message/menu.html.twig' import message_menu %}
    {{ message_menu(profile.id, profile.isBlockedUser) }}
{% endblock %}
{% block content %}
    <h2>
        {{ profile.username }}
        <small class="text-muted">{{ profile.age }}. {{ profile.cityName }}, {{ profile.regionName }}.</small>
    </h2>
    {% if recipientSuspension is not null %}
        <div class="alert alert-danger">
            {% if recipientSuspension.isPermanent %}
                {{ 'message.permanently_suspended'|trans }}
            {% else %}
                {{ 'message.suspended'|trans({'%hours%': recipientSuspension.duration, '%updatedAt%': recipientSuspension.updatedAt|date }) }}
            {% endif %}
        </div>
    {% endif %}
    <div class="card border-light">
        <div class="card-body">
            {% if messages is not empty %}
                {% from '@DatingLibreApp/macros/profile.image.html.twig' import profile_image %}
                <table class="table table-striped">
                    {% for message in messages %}
                        <tr class="d-flex">
                            <td class="col-1">{{ profile_image(message.secureProfileImageUrl) }}</td>
                            <td class="col-11">
                                <h5 class="media-heading">{{ message.senderUsername }}</h5>
                                <div>{{ message.content }}</div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {{ form(messageForm) }}
        </div>
    </div>

{% endblock %}