{% macro suspensions_table(suspensions, displayDuration) %}
    {% if suspensions is empty %}
        <div class="alert alert-success" role="alert">
            {{ 'moderate.no_suspensions'|trans }}
        </div>
    {% else %}
        <table class="table table-striped">
            <thead>
            <th>{{ 'suspension.username'|trans }}</th>
            <th>{{ 'suspension.reasons'|trans }}</th>
            {% if displayDuration %}<th>{{ 'suspension.duration'|trans }}</th>{% endif %}
            <th>{{ 'suspension.created_at'|trans }}</th>
            </thead>
            {% for suspension in suspensions %}
                <tr>
                    <td>
                        {% if suspension.duration %}
                            <a href="{{ path('moderator_profile_suspensions', {'userId': suspension.userId}) }}">{{ suspension.username }}</a>
                        {% else %}
                            <a href="{{ path('admin_profile_permanently_suspend', {'userId': suspension.userId, 'suspensionId': suspension.id}) }}">{{ suspension.username }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if suspension.reasons is not empty %}
                            <ul>
                                {% for reason in suspension.reasons %}
                                    <li>{{ reason|trans({}, 'rules') }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    {% if displayDuration %}<td>{{ suspension.duration }}</td>{% endif %}
                    <td>{{ suspension.createdAt|format_date('long') }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endmacro %}