{% extends '@DatingLibreApp/unauthenticated.html.twig' %}
{% block title %}{{ 'user.register'|trans }}{% endblock %}
{% block content %}
    {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
    <h1 class="font-weight-normal">{{ 'user.register'|trans }}</h1>
    <a href="{{ path('register_terms') }}" class="btn btn-md btn-info btn-block mt-3 mb-3">{{ 'registration.read_terms_and_conditions'|trans }}</a>
    <div class="checkbox mb-3">{{ form_errors(registrationForm.agreeTerms) }}{{ form_label(registrationForm.agreeTerms) }}{{ form_widget(registrationForm.agreeTerms) }}</div>
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="register">{{ 'user.register'|trans }}</button>
    <a class="btn btn-md btn-secondary btn-block" href="{{ path('login') }}" id="login">{{ 'user.login'|trans }}</a>
    {{ form_end(registrationForm) }}
{% endblock %}
