{% extends '@DatingLibreApp/moderator/moderator.html.twig' %}
{% block title %}{{ 'menu.suspensions'|trans }} - {{ 'site.moderator'|trans }}{% endblock %}
{% block menu %}
    {% from '@DatingLibreApp/macros/profile.image.html.twig' import profile_image %}
    {{ profile_image(profile.imageUrl) }}
    {% include '@DatingLibreApp/moderator/profile/menu.html.twig' %}
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>
                {{ profile.username }}
                <small class="text-muted">{{ profile.age }}. {{ profile.cityName }}, {{ profile.regionName }}.</small>
            </h2>
            {{ profile.about|nl2br }}
        </div>
    </div>
    {% if profile.isPermanentlySuspended %}
        <div class="alert alert-danger">{{ 'suspension.permanently_suspended'|trans }}</div>
    {% endif %}
    {{ form_start(confirmPermanentSuspensionForm) }}
    {{ form_row(confirmPermanentSuspensionForm.reasons) }}
    {{ form_widget(confirmPermanentSuspensionForm.submit, {'attr': {'class': 'btn btn-danger'}}) }}
    {{ form_end(confirmPermanentSuspensionForm) }}
{% endblock %}