{% extends '@DatingLibreApp/user/user.html.twig' %}
{% block title %}Profile{% endblock %}
{% block menu %}
    {% from '@DatingLibreApp/macros/profile.image.html.twig' import profile_image %}
    <a href="{{ path('user_profile_image') }}">{{ profile_image(profile.imageUrl) }}</a>
    {% include '@DatingLibreApp/user/profile/menu.html.twig' %}
{% endblock %}
{% block content %}
    <div class="card border-light">
        <div class="card-header text-center bg-white">
            <label class="btn btn-primary" for="inputImageButton" title="Import">
                <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="Import image">Open image</span>
                <input type="file" id="inputImageButton" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff" hidden />
            </label>

            <button class="btn btn-primary" title="Zoom in" id="zoomInButton">
                <span class="docs-tooltip" data-toggle="tooltip" title="Zoom in" data-original-title="Zoom in">Zoom in</span>
            </button>

            <button class="btn btn-primary" title="Zoom out" id="zoomOutButton">
                <span class="docs-tooltip" data-toggle="tooltip" title="Zoom out" data-original-title="Zoom in">Zoom out</span>
            </button>

            <button class="btn btn-primary" title="Rotate" id="rotateButton">
                <span class="docs-tooltip" data-toggle="tooltip" title="Rotate" data-original-title="Rotate">Rotate</span>
            </button>

            <button class="btn btn-primary" title="Upload" id="uploadImageButton">
                <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="Upload image">Submit</span>
            </button>

            <div class="img-container well">
                <img id="image" src="{{ asset('/profile.jpg') }}" alt="Picture">
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.css"
          integrity="sha384-LviqaWVrhQ5vfp8yDZoxcPR9PH4//hAxpcfh5coUt5oZ3/jGIGj/R8bxO6AjCOM3"
          crossorigin="anonymous"/>
    <style>
        img {
            max-width: 100%;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.27.0/js/canvas-to-blob.js"
            integrity="sha384-vXXFsWaKbgL+DtF3tCB2B69cnH0rtx9FWApgkItmAgyBP/02GRnz2VnbrnU1d66Z"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.js"
            integrity="sha384-BnNW9aYsccJ9WiiHRo1N2el4bJoJJKxR1+icF/atsesK3m5dWCwCsT4XmuPdBo78"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/q.js/1.5.1/q.js"
            integrity="sha384-TwTDKriV+7pTJXbE3SM9Eq294VQRRqeEG0IVQ86TLGnAXBhL5Od6Ka8j5IFsJVnY"
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/profile/image.js?1238') }}"></script>
    <script>
        $(function () {
            'use strict';
            var $image = $('#image');
            var $inputImageButton = $('#inputImageButton');
            var $URL = window.URL || window.webkitURL;
            var $blobURL;

            if ($URL) {
                $inputImageButton.change(function () {
                    var $files = this.files;
                    var $file;

                    if (!$image.data('cropper')) {
                        return;
                    }

                    if ($files && $files.length) {
                        $file = $files[0];

                        if (/^image\/\w+$/.test($file.type)) {
                            $blobURL = $URL.createObjectURL($file);
                            $image.one('built.cropper', function () {

                                // Revoke when load complete
                                $URL.revokeObjectURL($blobURL);
                            }).cropper('reset').cropper('replace', $blobURL);
                            $inputImageButton.val('');
                        } else {
                            window.alert('Please choose an image $file.');
                        }
                    }
                });
            } else {
                $inputImageButton.prop('disabled', true).parent().addClass('disabled');
            }

            // Upload cropped image to server if the browser supports `HTMLCanvasElement.toBlob`

            new ProfileImage(
                $image,
                $('#uploadImageButton'),
                $("meta[name='_csrf']").attr("content"),
                $('#zoomInButton'),
                $('#zoomOutButton'),
                $('#rotateButton'),
                $('#profileImageSuccessMessage'),
                $('#profileImageFailureMessage')
            );
        });
    </script>
{% endblock %}

