{% extends '@DatingLibreApp/user/user.html.twig' %}
{% block title %}Profile{% endblock %}
{% block menu %}
    {% from '@DatingLibreApp/macros/profile.image.html.twig' import profile_image %}
        <a href="{{ path('user_profile_image') }}">{{ profile_image(profile.imageUrl) }}</a>
    {% include '@DatingLibreApp/user/profile/menu.html.twig' %}
{% endblock %}
{% block content %}
    <div class="panel panel-default">
    {% from "@DatingLibreApp/user/profile/profile.image.moderation.status.html.twig" import profile_image_moderation_status %}
    {{ profile_image_moderation_status(profile.imagePresent, profile.imageUnmoderated, profile.imageRejected) }}
    <div class="panel-body">
        <h2>
            {{ profile.username }}
            <small class="text-muted">{{ profile.age }}. {{ profile.cityName }}, {{ profile.regionName }}.</small>
        </h2>

        {% if suspension is not null %}
            <div class="alert alert-danger">{{ 'profile.suspended'|trans }}</div>
        {% endif %}

        {% if attributes is not empty %}
            <ul>
                {% for attribute in attributes %}
                    <li>{{ attribute.name|trans({}, 'attributes') }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if interests is not empty %}
            <h4>{{ 'profile.interests'|trans }}</h4>
            <ul>
                {% for interest in interests %}
                    <li>{{ interest.name|trans({}, 'interests') }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ profile.about|nl2br }}
    </div>
{% endblock %}