<div class="list-group">
    {% from '@DatingLibreApp/macros/is_active.html.twig' import is_active %}
    <a href="{{ path('moderator_profile_view', {'userId': profile.id}) }}" class="{{ is_active('moderator_profile_view') }} list-group-item list-group-item-action">{{ 'menu.view'|trans }}</a>
    <a href="{{ path('moderator_profile_reports', {'userId': profile.id}) }}" class="{{ is_active('moderator_profile_reports') }} {{ is_active('moderator_profile_report') }} list-group-item list-group-item-action">{{ 'menu.reports'|trans }}</a>
    <a href="{{ path('moderator_profile_suspensions', {'userId': profile.id}) }}" class="{{ is_active('moderator_profile_suspension') }} list-group-item list-group-item-action">{{ 'menu.suspensions'|trans }}</a>
</div>


