{% extends '@DatingLibreApp/moderator/moderator.html.twig' %}
{% block title %}{{ 'menu.suspensions'|trans }} - {{ 'site.moderator'|trans }}{% endblock %}
{% block menu %}
    {% from '@DatingLibreApp/macros/profile.image.html.twig' import profile_image %}
    {{ profile_image(profile.imageUrl) }}
    {% include '@DatingLibreApp/moderator/profile/menu.html.twig' %}
{% endblock %}
{% block content %}
    <h2>
        {{ profile.username }}
        <small class="text-muted">{{ profile.age }}. {{ profile.cityName }}, {{ profile.regionName }}.</small>
    </h2>
    <div class="card border-danger">
        <div class="card-body">
            {% if permanentSuspension is not null %}
                <p>{{ 'suspension.permanent_suspension_enqueued'|trans }}</p>
            {% else %}
                <p>{{ 'suspension.permanent_queue_confirm'|trans }}</p>
                {{ form_start(enqueuePermanentSuspensionForm) }}
                {{ form_row(enqueuePermanentSuspensionForm.reasons) }}
                {{ form_row(enqueuePermanentSuspensionForm.submit, {'attr': {'class': 'btn btn-danger'}}) }}
                {{ form_end(enqueuePermanentSuspensionForm) }}
            {% endif %}
        </div>
    </div>
{% endblock %}