{% extends '@DatingLibreApp/moderator/moderator.html.twig' %}
{% block title %}Profile{% endblock %}
{% block menu %}
    {% from '@DatingLibreApp/macros/profile.image.html.twig' import profile_image %}
    {{ profile_image(profile.imageUrl) }}
    {% include '@DatingLibreApp/moderator/profile/menu.html.twig' %}
{% endblock %}
{% block content %}
    <div class="panel panel-default">
    <div class="panel-body">
        <h2>
            {{ profile.username }}
            <small class="text-muted">{{ profile.age }}. {{ profile.cityName }}, {{ profile.regionName }}.</small>
        </h2>
    </div>
    {% from '@DatingLibreApp/moderator/macros/reports.table.html.twig' import reports_table %}
    {{ reports_table(reports, false, false, null)}}
    {{ form_start(closeReportForm) }}
    {{ form_row(closeReportForm.report) }}
    {{ form_widget(closeReportForm.submit, {'attr': {'class': 'btn btn-danger'}}) }}
    {{ form_end(closeReportForm) }}
    <br />
    {% from '@DatingLibreApp/macros/messages.table.html.twig' import messages_table %}
    {{ messages_table(messages) }}
{% endblock %}