{% extends '@DatingLibreApp/moderator/moderator.html.twig' %}
{% block title %}{{ 'menu.suspensions'|trans }} - {{ 'site.moderator'|trans }}{% endblock %}
{% block menu %}
    {% from '@DatingLibreApp/macros/profile.image.html.twig' import profile_image %}
    {{ profile_image(profile.imageUrl) }}
    {% include '@DatingLibreApp/moderator/profile/menu.html.twig' %}
{% endblock %}
{% block content %}
    <h2>
        {{ profile.username }}
        <small class="text-muted">{{ profile.age }}. {{ profile.cityName }}, {{ profile.regionName }}.</small>
    </h2>
    {% if suspensions is empty %}
        <div class="alert alert-success">{{ 'suspension.empty'|trans }}</div>
    {% endif %}
    {% if suspensions is not empty %}
        <table class="table table-striped">
            <thead>
            <th colspan="col">{{ 'suspension.reasons'|trans }}</th>
            <th colspan="col">{{ 'suspension.created_at'|trans }}</th>
            <th colspan="col">{{ 'suspension.duration'|trans }}</th>
            <th colspan="col">{{ 'suspension.elapsed'|trans }}</th>
            <th colspan="col">{{ 'suspension.status'|trans }}</th>
            </thead>
            {% for suspension in suspensions %}
                {% set row_class %}
                    {% if suspension.elapsed and suspension.isOpen %}
                        table-warning
                    {% elseif suspension.isOpen %}
                        table-primary
                    {% else %}
                    {% endif %}
                {% endset %}
                <tr class="{{ row_class }}">
                    <td>
                        {% if suspension.reasons is not empty %}
                            <ul>
                                {% for reason in suspension.reasons %}
                                    <li>{{ reason|trans({}, 'rules') }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td>{{ suspension.createdAt|format_datetime('long') }}</td>
                    <td>{% if suspension.duration is null %}
                            {{ 'suspension.permanent'|trans }}
                        {% else %}
                            {{ suspension.duration }}
                        {% endif %}
                    </td>
                    <td>{% if suspension.elapsed is null %}
                            {{ 'suspension.not_applicable'|trans }}
                        {% else %}
                            {% if suspension.elapsed %}{{ 'suspension.yes'|trans }}{% else %}{{ 'suspension.no'|trans }}{% endif %}
                        {% endif %}
                    </td>
                    <td>{{ ('suspension.' ~ suspension.status|lower)|trans }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if openElapsedSuspension %}
        <a href="{{ path('moderator_profile_suspension', {'userId': profile.id, 'suspensionId': openElapsedSuspension.id}) }}"
           class="btn btn-primary btn-md mb-3">{{ 'suspension.close'|trans }}</a>
    {% endif %}

    {% if openPermanentSuspension and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('moderator_profile_suspension', {'userId': profile.id, 'suspensionId': openPermanentSuspension.id}) }}"
           class="btn btn-primary btn-sd mb-3">{{ 'suspension.close'|trans }}</a>
    {% endif %}

    <div class="card border-danger">
        <div class="card-body">
            <h5 class="text-danger">{{ 'suspension.create'|trans }}</h5>
            {{ form_start(suspensionForm) }}
            {{ form_row(suspensionForm.duration) }}
            {{ form_row(suspensionForm.reasons) }}
            {{ form_row(suspensionForm.submit, {'attr': {'class': 'btn btn-danger'}}) }}
            {{ form_end(suspensionForm) }}
        </div>
    </div>
{% endblock %}

