{% extends '@DatingLibreApp/user/user.html.twig' %}
{% block title %}{{ 'menu.block'|trans }}{% endblock %}
{% block menu %}
    {% from '@DatingLibreApp/macros/profile.image.html.twig' import profile_image %}
    {{ profile_image(profile.imageUrl) }}
    {% include '@DatingLibreApp/user/message/menu.html.twig' %}
{% endblock %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
    <h2>
        {{ profile.username }}
        <small class="text-muted">{{ profile.age }}. {{ profile.cityName }}, {{ profile.regionName }}.</small>
    </h2>
        <div class="alert alert-danger">{{ 'block.confirm_message'|trans }}</div>
        {{ form_start(blockForm) }}
        {{ form_widget(blockForm.confirm, {'attr': {'class': 'btn btn-danger'}}) }}
        {{ form_end(blockForm) }}
    </div>
</div>
{% endblock %}
