{% extends '@DatingLibreApp/user/user.html.twig' %}
{% block title %}{{ 'menu.block'|trans }}{% endblock %}
{% block menu %}
    {% from '@DatingLibreApp/macros/profile.image.html.twig' import profile_image %}
    {{ profile_image(profile.imageUrl) }}
    {% from '@DatingLibreApp/user/message/menu.html.twig' import message_menu %}
    {{ message_menu(profile.id, profile.isBlockedUser) }}
{% endblock %}
{% block content %}
    <h2>
        {{ profile.username }}
        <small class="text-muted">{{ profile.age }}. {{ profile.cityName }}, {{ profile.regionName }}.</small>
    </h2>
    <div class="card border-primary">
        <div class="card-body text-primary">
            <h5 class="card-title">{{ 'menu.unblock'|trans }}</h5>
            <p class="card-text">{{ 'unblock.confirm_message'|trans }}</p>
            {{ form_start(blockForm) }}
            {{ form_widget(blockForm.confirm, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(blockForm) }}
        </div>
    </div>
{% endblock %}
