{% extends '@DatingLibreApp/user/user.html.twig' %}
{% block title %}{{ 'account.delete'|trans }} - {{ 'account.account'|trans }}{% endblock %}
{% block menu %}
    {% include '@DatingLibreApp/user/account/menu.html.twig' %}
{% endblock %}
{% block content %}
    <p class="alert-danger alert">{{ 'account.delete_confirmation'|trans }}</p>
    {{ form_start(deleteAccountForm) }}
    {{ form_row(deleteAccountForm.password) }}
    {{ form_row(deleteAccountForm.submit, {'attr': {'class': 'btn btn-danger'}}) }}
    {{ form_end(deleteAccountForm) }}
{% endblock %}
