{% extends '@DatingLibreApp/unauthenticated.html.twig' %}
{% block title %}{{ 'user.login'|trans }}{% endblock %}
{% block content %}
<form class="form" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% include '@DatingLibreApp/flash_messages.html.twig' %}
    <h1 class="font-weight-normal">{{ 'user.login'|trans }}</h1>
    <div class="form-group">
        <label for="email">{{ 'user.email'|trans }}</label>
        <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control">
    </div>

    <div class="form-group">
        <label for="password">{{ 'user.password'|trans }}</label>
        <input type="password" name="password" id="password" class="form-control">
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="checkbox mb-3">
        <label><input type="checkbox" name="_remember_me"/>&nbsp;{{ 'user.remember_me'|trans }}</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" id="login">{{ 'user.login'|trans }}</button>
    <a class="btn btn-md btn-secondary btn-block" href="{{ path('register') }}" id="register">{{ 'user.register'|trans }}</a>
    <a class="btn btn-md btn-secondary btn-block" href="{{ path('reset_password') }}" id="forgotten_password">{{ 'user.forgotten_password'|trans }}</a>
    {% if isDemo %}
    <p class="mt-4 text-center"><a href="https://github.com/datinglibre/datinglibre">Powered by DatingLibre</a></p>
    {% endif %}
</form>
{% endblock %}
