{% extends '@DatingLibreApp/unauthenticated.html.twig' %}
{% block title %}{{ 'user.reset_password'|trans }}{% endblock %}
{% block body %}
    {% form_theme passwordResetForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(passwordResetForm, {'attr': {'class': 'form'}}) }}
    {% include '@DatingLibreApp/flash_messages.html.twig' %}
    <h1 class="font-weight-normal">{{ 'user.reset_password'|trans }}</h1>
    {{ form_row(passwordResetForm.email) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="form_submit">{{ 'submit'|trans }}</button>
    <a class="btn btn-md btn-secondary btn-block" href="{{ path('user_login') }}" id="login">{{ 'user.login'|trans }}</a>
    {{ form_end(passwordResetForm) }}
{% endblock %}
