{% extends '@DatingLibreApp/user/user.html.twig' %}
{% block title %}{{ 'account.settings'|trans }} - {{ 'account.account'|trans }}{% endblock %}
{% block menu %}
    {% include '@DatingLibreApp/user/account/menu.html.twig' %}
{% endblock %}
{% block content %}
    <div class="card border-light">
        <div class="card-body">
            <h5 class="card-title">{{ 'settings.contact'|trans }}</h5>
            {% form_theme userSettingsForm 'bootstrap_4_layout.html.twig' %}
            {{ form_start(userSettingsForm) }}
            {{ form_widget(userSettingsForm.newMatchNotifications) }}
            <br />
            {{ form_widget(userSettingsForm.update) }}
            {{ form_end(userSettingsForm) }}
        </div>
    </div>
{% endblock %}
