{% macro profile_list_single(profile) %}
    {% if profile is not null %}
        <ul class="list-unstyled">
            <li class="media">
                <img src="{% if profile.imageUrl is null %}/profile.jpg{% else %}{{ profile.imageUrl }}{% endif %}" class="mr-3" alt="" height="64" width="64">
                <div class="media-body">
                    <h5 class="mt-0 mb-1"><a href="{{ path('moderator_profile_view', {'userId': profile.id}) }}">{{ profile.username }}</a>, <small>{{ profile.age }}</small>. <small>{{ profile.cityName }}, {{ profile.regionName }}.</small></h5>
                    <p>{{ profile.about|u.truncate(100, '...') }}</p>
                </div>
            </li>
        </ul>
    {% endif %}
    {% if profile is null %}
        <div class="alert alert-warning">{{ 'search.no_results'|trans }}</div>
    {% endif %}
{% endmacro %}