{% extends '@DatingLibreApp/moderator/moderator.html.twig' %}
{% block title %}{{ 'menu.images'|trans }} - {{ 'site.moderator'|trans }}{% endblock %}
{% block menu %}
    {% include '@DatingLibreApp/moderator/menu.html.twig' %}
{% endblock %}
{% block content %}
    {% if profileImage is null %}
        <div class="alert alert-success" role="alert">
            {{ 'moderate.no_images'|trans }}
        </div>
    {% endif %}
    {% if profileImage is not null %}
        <div class="d-flex justify-content-center">
            {{ form_start(moderateForm) }}
            <div class="p-2">{{ form_widget(moderateForm.accept,  {'attr': {'class': 'btn btn-success'}}) }}</div>
            <div class="p-2"><img src="{{ profileImage.secureUrl|raw }}" alt="" width="180" height="180" /></div>
            <div class="p-2">{{ form_widget(moderateForm.reject, {'attr': {'class': 'btn btn-danger'}}) }}</div>
            {{ form_end(moderateForm) }}
        </div>
    {% endif %}
{% endblock %}