{% from '@DatingLibreApp/macros/is_active.html.twig' import is_active %}
{% if app.user %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('user_login') }}">{{ datinglibre('site_name') }}</a>
    <div class="collapse navbar-collapse" id="site_navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_search_index') }}">{{ 'nav.search'|trans  }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_profile_index') }}">{{ 'nav.profile'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_matches_index') }}">{{ 'nav.matches'|trans }}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_account_subscription') }}">{{ 'nav.account'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('logout') }}">{{ 'nav.logout'|trans }}</a>
            </li>
        </ul>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site_navbar" aria-controls="site_navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
{% endif %}