{% extends '@DatingLibreApp/unauthenticated.html.twig' %}
{% block title %}{{ 'user.update_password'|trans }}{% endblock %}
{% block body %}
    {% form_theme passwordUpdateForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(passwordUpdateForm, {'attr': {'class': 'form'}}) }}
    <h1>{{ 'user.update_password'|trans }}</h1>
    {{ form_row(passwordUpdateForm.password.first) }}
    {{ form_row(passwordUpdateForm.password.second) }}
    {{ form_row(passwordUpdateForm.secret) }}
    {{ form_row(passwordUpdateForm.userId) }}
    {{ form_widget(passwordUpdateForm.submit, {'attr': {'class': 'btn btn-lg btn-primary btn-block'}}) }}
    {{ form_end(passwordUpdateForm) }}
{% endblock %}
